/* RESETS */
body{
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 13fr 0.5fr;
}

.titulo{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 0;

}
header{
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-image: url(../assets/img/fondo.jpg);
    background-position: center;
    background-repeat: round;
    border-top: 0.1px solid #FFFFFF;
    border-bottom: 0.1px solid #FFFFFF;
}
footer{
    background-color: black;
}
footer #footer-copy {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    background-color: black;
    color: whitesmoke;
    margin: 0;
    padding: 0;
  }
  footer #footer-copy a {
    text-decoration: none;
    color: #f5f5f5;
  }
  footer #footer-copy a:hover {
    color: deeppink;
  }
